.product {
  margin-top: 50px;
  width: 100%;
}
.wrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 2fr;
  align-items: center;
}

.imgBlock {
  display: flex;
  align-items: center;
  width: 100%;
}

.imgBlock > img {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}

.description {
  width: 90%;
  margin: 0 auto;
}

.description > p {
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
}
