.input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border: 1px solid #dfdfe1;
  border-radius: 10rem;
  font-size: 16px;
  padding: 10px 30px;
  transition: all 1s;
}

.input:hover,
.input:focus {
  border: 1px solid var(--color-dark);
}
.input:active,
.input:focus {
  outline: none;
}
