.link {
  margin-right: 2rem;
  padding: 2rem 0;
}

.link > a {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1.9rem 0;
}

.link > a:hover {
  border-bottom: 2px solid #bbc8ca;
}
